Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
1. List popular languages for Data Science
2. List commonly used libraries used by Data Scientists
3. Make a table
4. List a few examples of evaluating arithmetic expressions in Python
5.

Some of the popular languages that data scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Pandas
4. SciPy

| Data Science Tools | 
| --- |
| Jupyter |
| RStudio |
| Git |

Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# Arithmetic operations
code = compile("5 + 3", "<string>", "eval")
eval(code)
# Result: 8

8

In [2]:
code1 = compile("(5 + 5) * 2", "<string>", "eval")
eval(code1)
# Result: 20

20

In [3]:
# This a simple arithmetic expression to mutiply then add integers
code = compile("(5 * 3) + 5", "<string>", "eval")
eval(code)
# Result: 20

20

In [10]:
# This will convert 200 minutes to hours by diving by 60
hour = 200 // 60
   
print("Time in hour :",hour)

Time in hour : 3

Author:
hk-pambudi